<div>
  <form [formGroup]="guyForm" (ngSubmit)="submit()">
    <div>
      <label>Nombre</label>
      <input type="text" formControlName="Name" class="guyName">
      <span *ngIf="guyName.invalid && guyName.touched">El nombre no cumple con los criterios</span>
    </div>
    <div>
      <label>Apellido</label>
      <input type="text" formControlName="LastName" class="guyName">
      <span *ngIf="guyLastName.invalid && guyLastName.touched">El apellido no cumple con los criterios</span>
    </div>
    <div>
      <label>Email</label>
      <input type="text" formControlName="Email" class="guyName">
      <span *ngIf="guyEmail.invalid && guyEmail.touched">El email no cumple con los criterios</span>
    </div>
    <div>
      <label>País</label>
      <select formControlName="Country">
        <option *ngFor="let contry of contries" [ngValue]="contry">
          {{contry}}
        </option>
      </select>
    </div>
    <div>
      <label>
        <input id="female" type="radio" value="female" name="Gender" formControlName="Gender">
        Female
      </label>
      <label>
        <input id="male" type="radio" value="male" name="Gender" formControlName="Gender">
        Male
      </label>
    </div>
    <div>
      <label>Telefono</label>
      <input type="text" formControlName="Telephone" class="guyName">
      <span *ngIf="guyPhone.invalid && guyPhone.touched">El telefono no cumple con los criterios</span>
    </div>
    <button type="submit" [disabled]="!guyForm.valid">Submit</button>
  </form>
</div>